.container {
    display: grid;
    grid-template-areas:
            "dialogs utils"
            "dialogs currentDialog";
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 1fr 11fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;

    height: 100%;

    padding: 15px;
}

.utils {
    grid-area: utils;
    display: flex;
    justify-content: flex-end;
}

.dialogs {
    grid-area: dialogs;
    background-color: var(--color3);
    border-radius: 23px;
}

.currentDialog {
    grid-area: currentDialog;
    background-color: var(--color3);
    border-radius: 23px;
}