.appContainer {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;

    margin: 2vh auto;
    height: 96vh;
    width: 80%;

    background-color: #1d1d2a;

    border: 7px solid #181824;
    border-radius: 30px;
}

.sidebarContainer {
    grid-area: sidebar;
}

.contentContainer {
    grid-area: content;

}