@font-face {
    font-family: Xolonium;
    src: url('assets/fonts/Xolonium/Xolonium-Bold.otf');
}

* {
    font-family: Montserrat;
}

.appContainer {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 2fr 10fr;
    grid-gap: 5px;

    margin: 2vh auto;
    --app-height: 96vh;
    height: var(--app-height);
    max-height: var(--app-height);
    overflow: hidden;
    width: 80%;

    background-color: #1d1d2a;

    border: 7px solid #181824;
    border-radius: 30px;
}

.sidebarContainer {
    overflow: hidden;
    grid-area: sidebar;
}

.contentContainer {
    overflow: hidden;
    grid-area: content;
}