.container {
    display: flex;
    flex-direction: column;
    justify-content: normal;
}
.header {
    display: grid;
    grid-template-areas:
            "ava name"
            "ava status";
    grid-template-columns: 2fr 11fr 1fr;
    column-gap: 7px;

    font-size: 10px;

    border-bottom: 1px solid var(--color6);

    padding: 30px 30px 20px;
}
.avatarContainer {
    display: flex;
    align-items: center;
    grid-area: ava;

    height: 60px;
    width: 60px;

    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
}

.avatarContainer > img {
    max-height: 100%;
    max-width: 100%;
}
.nameContainer {
    display: flex;
    align-items: flex-start;
    grid-area: name;
}
.name {
    font-size: 2.1em;
    font-weight: 700;
    color: var(--color5);
}
.status {
    grid-area: status;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color2);
    opacity: .6;
}
.body {
    display: flex;
    flex-direction: column;
}
.messagesContainer {
    scrollbar-width: none;
    overflow-y: scroll;
    min-height: 55vh;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.messagesContainer::-webkit-scrollbar{
    width: 0;
}
.newMessageForm {

}